body {
  margin: 0;
  min-height: 100vh;
  display: flex;  
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  font-family: "Roboto Slab", serif;
  text-align: center;
}
.container{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.i_Panel{
  border: solid 2px black;
  border-radius: 15px;
  padding: 20px;
  background-color: rgb(235, 235, 218);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  box-sizing: border-box;
}
.weight{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}


input{
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  margin: auto;
  margin-bottom: 5px;
  box-sizing: border-box;
  border: solid 2px black;
  box-shadow:  2px 2px 5px rgba(0, 0, 0, 0.1);
  height: 45px;
}
h1{
  margin-top: 0;
  margin-bottom: 0;
}

button{
  padding: 20px;
  margin: 5px;
  background-color: rgb(235, 235, 218);
  border-radius: 15px;
  border: solid 2px black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 0;
  cursor: pointer;
  overflow: hidden;
  width: 250px;
  margin-top: 10px; 
  align-self: center;
}

button::after{
  content: ' ';
  background: rgb(242, 246, 246);
  height: 100%;
  width: 0px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  z-index: -1;
  transition: 150ms ease-in-out;

}
button:hover::after{
  width: 100%;
}
#Sys_toggle{
  display: flex;
  justify-content: center;
  gap: 10px;
}
label{
  display: flex;
  align-items: center;
  margin: 10px;
  justify-content: space-between;
  cursor: pointer;
  background-color: rgb(238, 238, 171);
  padding: 10px 15px;
  box-sizing: border-box;
}
label input{
  display: none;
}
.checkmark{
  height: 20px;
  width: 20px;
  border: 2px solid black;
  border-radius: 5px;
  position: relative;
  transition: border-color 150ms ease-in-out;
}
label input:checked + .checkmark{
  border-color: rgb(255, 255, 255);
}
label input:checked + .checkmark::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#height-feet-inches{
  display: flex;
  gap: 10px;
}
.metric-inputs{
  display: flex;
  flex-direction: row;
  gap: 10px;
}