body {
  margin: 0;
  min-height: 100vh;
  display: flex;  
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  font-family: "Roboto Slab", serif;
  text-align: center;
}
.container{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

input{
  border: none;
  border-radius: 10px;
  padding:  10px;
  margin: auto;
  margin-bottom: 5px;
}
h1{
  margin-bottom: 5px;
}

button{
  padding: 20px;
  margin: 5px;
  background-color: rgb(235, 235, 218);
  border-radius: 15px;
  border: solid 1px black;
  position: relative;
  z-index: 0;
  cursor: pointer;
  overflow: hidden;
  width: 250px;
  margin-top: 10px; 
  align-self: center;
}

button::after{
  content: ' ';
  background: rgb(242, 246, 246);
  height: 100%;
  width: 0px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  z-index: -1;
  transition: 150ms ease-in-out;

}
button:hover::after{
  width: 100%;
}
#choose-Btns{
  display: flex;
  justify-content: center;
  gap: 10px;
}
label{
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  background-color: hsl(180, 5%, 68%);
  padding: 10px 15px;
  border-radius: 10px;
}
label input{
  display: none;
}
.checkmark{
  height: 20px;
  width: 20px;
  border: 2px solid black;
  border-radius: 5px;
  position: relative;
  transition: border-color 150ms ease-in-out;
}
label input:checked + .checkmark{
  border-color: rgb(255, 255, 255);
}
label input:checked + .checkmark::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}